// Fonts
@import 'fonts';

// FIXME Temporary - download this icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Libs
@import 'element-ui/lib/theme-chalk/index.css';

$main-color: #0288d1;
$dark-color: rgba(255, 255, 255, .87);

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #23a8f1;
  transition: .2s;
  &:hover {
    color: #187bb1;
  }
}

.primary {
  background: $main-color;
}

.primary--text {
  color: $main-color;
}

.text--right {
  text-align: right;
}

.bottom10 {
  margin-bottom: 10px;
}

.el-form--label-top {
  .el-form-item__label {
    line-height: normal;
  }
}

.component {
  max-width: 1200px;
  margin: 0 auto;
  &.admin {
    .header {
      display: flex;
      justify-items: center;
      align-items: center;
      max-width: 600px;
      margin: 0 auto 20px;
    }
    .search {
      flex-grow: 1;
      margin-right: 20px;
    }
    .items {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 20px;
      align-items: flex-start;
      background: #fff;
      border: 1px solid #e7e7e7;
    }
    .no-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
      > span {
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
  }
}

@keyframes loading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

// Dark
.dark {
  a {
    color: #c59090;
    &:hover {
      color: #f16969;
    }
  }

  // Form components
  .el-button {
    background: #444;
    border-color: #444;
    color: rgba(255, 255, 255, .8);
    &:hover {
      background: #555;
    }
    &.is-loading:before {
      background-color: #333;
    }
  }
  .el-input__inner {
    background-color: #333;
    border-color: #444;
    color: rgba(255, 255, 255, .8);
    &:focus {
      border-color: #555;
    }
  }

  // Pages
  .component {
    .items {
      border-color: #484848;
      background: #333;
    }
    .no-items {
      span {
        color: rgba(255, 255, 255, .8);
      }
    }
  }

  // TODO Login form*
  // FIXME el-form styles input to global
  &.el-form {
    .el-input__inner:focus {
      border-color: #333;
    }
    .el-form-item__label {
      color: $dark-color;
    }
    .el-checkbox__inner {
      &:hover {
        border-color: #7b7b7b;
      }
      &:focus {
        outline: none;
      }
    }
    .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #7b7b7b;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: #7b7b7b;
      border-color: #7b7b7b;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
      border-color: #7b7b7b;
    }
    .el-input__inner {
      background-color: #444;
      border-color: #555;
      color: rgba(255, 255, 255, .8);
      &:focus {
        border-color: #666;
      }
    }
  }
}
