// Fonts
@import 'fonts';

// FIXME Temporary - download this icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Libs
@import 'element-ui/lib/theme-chalk/index.css';

$main-color: #0288d1;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.primary {
  background: $main-color;
}

.primary--text {
  color: $main-color;
}
